page-home {
    .botao {
        border-radius: 10px; 
    }

    .botaoLike {
        float: right;
    }

    .botaoSuperLike {
        left:28%;
        
    }

    .botaoIgnorar {
        float: left;
    }

    .botoes {
        margin-bottom: -1%; 
        
    }

    .container-slides {
        width: 100%;
        height: 80%;
    }

    .foto {
        height: 300px;
        border-radius: 5px; 
    }


    
}
